@font-face {
	font-family: proximanova-boldit;
	src: url( ../font/proximanova-boldit-webfont.eot );
}
@font-face {
	font-family: proximanova-bold;
	src: url( ../font/proximanova-bold-webfont.eot);
	
}
@font-face {
	font-family: proximanova-lightit;
	src: url( ../font/proximanova-lightit-webfont.eot);
}
@font-face {
	font-family: proximanova-light;
	src: url( ../font/proximanova-light-webfont-webfont.eot);
}
@font-face {
	font-family: proximanova-regit;
	src: url( ../font/proximanova-regit-webfont.eot);
}
@font-face {
	font-family: proximanova-reg;
	src: url( ../font/proximanova-reg-webfont-webfont.eot);
}
@font-face {
	font-family: ShareTechMono-Regular;
	src:url(../font/ShareTechMono-Regular.woff),url(../font/ShareTechMono-Regular.eot),url(../font/ShareTechMono-Regular.ttf),url(../font/sharetechmono-regular-webfont.svg);
}



@font-face {
	font-family: fontawesome;
	src: url( ../font/fontawesome-webfont.woff);
}