<div class="m_block" style="width:100%; height: 100%">
    <div class="row" style="width:100%">
        <div class="colLeft" style="width:40%; text-align:left">Change Orders </div>
        <div class="colRight" style="text-align:right; width:59%">
            <a id="add-CO" class="addLead_saveCancel" href="javascript:void(0)">Add Change Order</a>
            @*<a id="generate-PO" class="addLead_saveCancel" href="javascript:void(0)">Generate PO</a>*@
        </div>
    </div>
</div>
<br /><br /><br />
<div class="clear_fix"></div>
<div id="list-co" class="gridBlock" style="margin: 0px; width: 100%">
    <div class="table-container" style="border-color: black; border-width:1px">
        <table id="grid-items-co" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th width="120px">Id</th>
                    <th width="300px">Description</th>
                    <th width="200px">Date</th>
                    <th width="200px">Amount</th>
                    <th width="120px"></th>
                    <th width="120px"></th>
                    <th width="180px"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="clear_fix">
</div>