<style>
    #po-form .btn .caret {
        margin-left: 0;
    }

    #po-form .caret {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid;
        display: inline-block;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        width: 0;
    }
    #po-form .dropdown-menu > li > a {
        clear: both;
        color: #333;
        display: block;
        font-weight: 400;
        line-height: 1.42857;
        padding: 3px 20px;
        white-space: nowrap;
    }
</style>
<div class="clear_fix"></div>
<div class="form-footer">
    <a id="cancel-PO" class="addLead_saveCancel" href="javascript:void(0)">Cancel</a>
    <a id="save-PO" class="addLead_saveCancel" href="javascript:void(0)">Save</a>
</div>
<div class="clear_fix"></div>
<hr />
<div class="m_block">
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Id</div>
        <div class="colRight">
            <input id="poid" type="text" class="inputTextReadOnly" readonly maxlength="50" />
        </div>
    </div>
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Vendor Name</div>
        <div class="colRight">
            @*<input id="vendorname" type="text" class="inputText" maxlength="100" />*@
            <select id="vendors" class="inputText">
                <option value="volvo">Please select</option>
            </select>
        </div>
    </div>
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Vendor Address</div>
        <div class="colRight" style="height: 80px;">
            <textarea id="vendoraddress" class="inputTextReadOnly" readonly maxlength="1000" style="height: 70px;"> </textarea>
        </div>
    </div>
    <div class="row" style="width: 500px; height: 40px; ">
        <div class="colLeft" style="width:150px">Delivery Date</div>
        <div class="colRight">
            <input id="deliverydate" type="text" class="inputText" placeholder="Select date">
        </div>
    </div>
    <br />
    
</div>
<div class="m_block" style="width:500px; margin-left:30px">
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Phone #</div>
        <div class="colRight">
            <input id="vendorphone" type="text" class="inputTextReadOnly" readonly maxlength="100" />
        </div>
    </div>
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Fax #</div>
        <div class="colRight">
            <input id="vendorfax" type="text" class="inputTextReadOnly" readonly maxlength="100" />
        </div>
    </div>
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Cell #</div>
        <div class="colRight">
            <input id="vendorcell" type="text" class="inputTextReadOnly" readonly maxlength="100" />
        </div>
    </div>
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Email</div>
        <div class="colRight">
            <input id="vendoremail" type="text" class="inputTextReadOnly" readonly maxlength="100" />
        </div>
    </div>
    <div class="row" style="width:500px">
        <div class="colLeft" style="width:150px">Representative</div>
        <div class="colRight">
            <input id="vendorrep" type="text" class="inputText" maxlength="100" />
        </div>
    </div>
    
</div>
<div class="clear_fix"></div><br /><br /><br /><br /><br /><br />
<div id="list-po-item" class="gridBlock" style="margin: 0px; width: 100%">
    <div class="m_block" style="height:100%">
        <div class="row" style="width:500px">
            <div class="colLeft" style="width:150px">Estimate</div>
            <div class="colRight">
                <select id="poestimates" class="inputText">
                    <option value="volvo">Please select</option>
                </select>
            </div>
        </div>
    </div>
    <div class="m_block" style="height:100%">
        <div class="row" style="width:700px">
            <div class="colLeft" style="width:180px">Change Orders</div>
            <div class="colRight">
                <select id="cos" multiple="multiple">
                    <option value="volvo">Please select</option>
                </select>
            </div>
        </div>
    </div>
    <div class="clear_fix"></div>
    <div class="table-container" style="border-color: black; border-width:1px">
        <table id="grid-items-po-estimates" class="display" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th width="100px">Item Code</th>
                    <th width="150px">Assembly/Item</th>
                    <th width="150px">Item Name</th>
                    <th width="20px">Qty</th>
                    <th width="100px">Cost</th>
                    <th width="100px">Amount</th>
                    <th width="20px"></th>
                </tr>
            </thead>
        </table>
    </div>
    <br />
</div>
<div>
    <div class="m_block">
        <div class="row" style="width:500px">
            &nbsp;
        </div>
    </div>
    <div class="m_block">
        <div class="row" style="width: 900px; margin-left: -320px">
            <div class="colLeft" style="width:700px">Change Order items are highlighted in <span class="highlightRow" style="border:1px solid black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;color.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Total Amount</div>
            <div class="colRight" style="width:150px">
                <input id="totalCostDisplay" type="text" class="inputTextReadOnly" readonly>
                <input id="totalCost" type="hidden" class="inputText" readonly>
            </div>
        </div>
    </div>
</div>