<p>Hi @Model.FirstName  @Model.LastName,</p>

<p>Please click on below link to reset your password.</p>
<p><a href="@Model.ResetPasswordUrl" target="_blank">@Model.ResetPasswordUrl</a></p>
<p>This is system generated mail. Please do not reply to this email.</p>
<p>Thank You.</p>
<p>System Support Team</p>
<p>King Roofing Service, Inc.</p>