@model KRF.Core.Entities.Customer.File
@{
    Layout = null;        
}




   
        <div class="gridBlockLarge_btnHolder_head">Uploaded Files</div>
                <div class="clear_fix"></div>
                <div class="oppRowHead">
                    <div class="inventoryColumn1">File Id</div>
                    <div class="inventoryColumn2">Description</div>
                    <div class="inventoryColumn3">File name</div>
                    <div class="inventoryColumn4">Uploaded on</div>
                    <div class="inventoryColumn5">
                        <span id="Span1">Doc Type</span>
                    </div>
                    <div class="inventoryColumn6">
                    </div>
                    <div class="inventoryColumn7"></div>
                </div>
                <div class="clear_fix"></div>
                <div id="oppRowGridHolder2" class="oppRowGridHolder scrollbox">
                </div>


   


