@model KRF.Core.Entities.Customer.Jobs

@{
    Layout = null;        
}



    
        <div class="gridBlockLarge_btnHolder_head">Jobs</div>
                <div class="clear_fix"></div>
                <div class="oppRowHead">
                    <div class="inventoryColumn1">Job Id</div>
                    <div class="inventoryColumn2">Description</div>
                    <div class="inventoryColumn3">Job Title</div>
                    <div class="inventoryColumn4">Created on</div>
                    <div class="inventoryColumn5">
                        <span id="Span3">Status</span>
                    </div>
                    <div class="inventoryColumn6">
                    </div>
                    <div class="inventoryColumn7"></div>
                </div>
                <div class="clear_fix"></div>
                <div id="Div1" class="oppRowGridHolder scrollbox">
                </div>


    
